pre code {
  white-space: pre !important;
  overflow-x: scroll !important;
  word-break: keep-all !important;
  word-wrap: initial !important;
}
h1.title {
  font-size: 32px;
  color: black;
  margin-bottom: 12px;
}
h3 {
  font-size: 22px;
  color: DarkBlue;
  margin-top: 36px;
}
h3:after
{
  content: ' ';
  display: block;
  border: 0.5px solid grey;
}
h4 {
  font-size: 22px;
  color: black;
  margin-top: 36px;
}
h4.author {
  font-size: 18px;
  color: black;
  margin-top: 0px;
  margin-bottom: 6px;
}
h4.date {
  font-size: 14px;
  color: black;
  margin-top: 0px;
  margin-bottom: 24px;
}
h5 {
  font-size: 18px;
  color: black;
  margin-top: 36px;
}